.dashboard--content2 {
    background: #fff;
    height: auto;
    flex: 1;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-direction: column;

}
.intern--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #526d82;
}