.dashboard--content2 {
    background: #fff;
    height: 700px;
    flex: 1;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-direction: column;

  }
