.dashboard {
    display: flex;
    gap: 20px;
  }
  .dashboard--content {
    background: #fff;
    height: 700px;
    flex: 1;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
  }
  .barcontent {
    border-radius: 20px;
    background: #526d82;
    height: 700px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }