.navbar {
    width: 100%;
    height: 20px;
    background: transparent;
    display: flex;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    align-items: center;
    justify-content: space-between;
}
ul {
    flex: 1;
    list-style: none;
    text-align: center;
}
ul li {
    font-weight: 600;
    color: #fff;
    display: inline-block;
    margin: 15px 30px;
    font-size: 18px;
    cursor: pointer;
}
button {
    border: 2px solid #6e6e6e;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #5a5959;
    transition: 0.3s ease-in-out;
}
.bar3 {
    border: none;
    width: auto;
    background: transparent;
    color: #fff;
    display: inline-block;
    margin: 5px 20px;
}
.bar3:hover {
    background: transparent;
    transform: scale(1.08);
}
button:hover {
    color: #fff;
    border: none;
    background: #5a5959;
    transform: scale(1.04);
    cursor: pointer;
}

.bar3-5 {
    border: none;
    color: #526d82;
    display: inline-block;
    margin: 5px 20px;
}
.bar3-5:hover {
    background: transparent;
    transform: scale(1.08);
}