.cimg {
    width: 240px;
    height: 120px;
}
.backcard {
    width: 650px;
    height: 120px;
    border: 2px solid #526d82;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    gap: 10px;
    transition: 0.3s ease-in-out;

}
.backcard:hover {
    background: #e8ecf0;
    border: 2px solid #fff;
}
.ctitle {
    color: #6e6e6e;
    font-weight: 800;
    font-size: 12pt;
    padding-bottom: 6px;
}
.ctext {
    color: #526d82;
    font-weight: 600;
    font-size: 8pt;
    padding-bottom: 6px;
}
.cbutton {
    height: 30px;
    font-size: 8pt;
}