.profile {
    width: 540px;
}
.profile--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header--title {
    color: #5a5959;
}
.title {
    color: #5a5959;
}
.duration {
    color: #526d82;
}
.edit {
    background: #dde6ed;
    padding: 12px;
    border-radius: 10px;
    color: #969393;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit .icon {
    font-size: 20px;
    transition: 0.5s ease-in-out;
}
.edit:hover .icon {
    transform: scale(1.3);
    cursor: pointer;
}
.user--profile {
    height: 40%;
    margin-top: 2rem;
    background: #dde6ed;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.user--detail {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*justify-content: left;
    padding-left: 20px;
    padding-top: 20px;*/
}
.user--detail img {
    background: #fff;
    border-radius: 50%;
    width: 150px;
    margin-bottom: 10px;
}
.user--detail .username {
    color: #526d82;
}
.user-courses {
    flex: 1;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;

}
.course {
    background: #dde6ed;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    height: 30px;
    width: 280px;
}
.course:hover {
    background: #526d82;
}
.course:hover .title {
    color: #fff;
}
.course:hover .duration {
    color: #dde6ed;
}

.course .duration {
    font-size: 14px;
}
.course:hover .action {
    color: #fff;
}
.profession {
    color: #969393;
    font-weight: 600;
}
.username {
    padding-top: 10px;
}
.user--container {
    color: #5a5959;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user--container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user--container-2 img {
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;

}
.buttonflex {
    height: 40px;
    display: flex;
    margin-top: 2rem;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
}
button {
    border: 2px solid #6e6e6e;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #5a5959;
    transition: 0.3s ease-in-out;
}
button:hover {
    color: #fff;
    border: none;
    background: #5a5959;
    transform: scale(1.04);
    cursor: pointer;
}

.user--profile-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user--profile-2 img {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.classbox {
    height: 36%;
    margin-top: 2rem;
    background: #dde6ed;
    border-radius: 10px;
    display: flex;
}
.dashboard--content {
    background: #fff;
    height: 700px;
    flex: 1;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
  }